<!DOCTYPE html>
<html>
    <head>
        
        {% block head %}
            <title>Private Lessons</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/messages.css">
    </head>
    <body>
        {% include 'parts/header.njk' %}

        {% include 'parts/messages.njk' %}

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>
        
    </body>
</html>