{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/10553730/500x500) 
        no-repeat center center / cover">
    </section>

    <section class="details">
        <div class="topo">
            <h3>Detalhes</h3>
        </div>

        <div class="item">
            <div>Professor</div>
            <div>Roger Franco</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>36</div>
        </div>

        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>Pós-graduado</div>
        </div>

        <div class="item">
            <div>Tipo de Aula</div>
            <div>presencial</div>
        </div>

        <div class="item">
            <div>Matérias que leciona</div>
            <div>
                <span>Português</span>
                <span>Inglês</span>
            </div>
        </div>

         <div class="item">
            <div>Membro Desde</div>
            <div>01/01/2020</div>
        </div>

    </section>
</div>
{% endblock content %}