{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section 
        class="avatar" 
        style="background: url({{ teacher.avatar_url}}) 
        no-repeat center center / cover">
    </section>

    <section class="details">
        <div class="topo">
            <h3>Detalhes</h3>
        </div>

        <div class="item">
            <div>Professor</div>
            <div>{{ teacher.name }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ teacher.age}}</div>
        </div>

        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>{{ teacher.graduation }}</div>
        </div>

        <div class="item">
            <div>Tipo de Aula</div>
            <div>{{ teacher.lesson }}</div>
        </div>

        <div class="item">
            <div>Matérias que leciona</div>
            <div>
            {% for matter in teacher.matters %}    
                <span>{{ matter}}</span>
            {% endfor %}
            </div>
        </div>

        <div class="item">
            <div>Membro Desde</div>
            <div>{{ teacher.created_at}}</div>
        </div>

        <a class="button" href='/teachers/{{teacher.id}}/edit'>Editar</a>

    </section>
</div>

{% endblock content %}